/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.avatar{
	width: 200px;
}

.avatar-cadastro{
	width: 148px;
}

.cargo{
	font-style: italic;
	color: #a5a5a5;
}

.votos{
	margin-top: 13px;
}

.numero{
	font-size: 10px
}

.nome {
	font-style: italic;
}

.align-right {
	text-align: right;
}

.salvar{
	margin-left: 20px;
	width: 100px;
}

.publicar{
	margin-left: 20px;
}

.padding-top-100{ padding-top: 100px; }
.padding-top-20{ padding-top: 20px; }

.candidato{
	margin-top: 20px;
}

footer{
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}